{% extends '@DdrUtils/bootstrap.html.twig' %}

{% set brand_url = '#' %}

{% block body %}
    {{ parent() }}
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ brand_url }}">{% block brand %}{% endblock brand %}</a>
            </div>

            {% block navbar_collapse %}
                <div class="collapse navbar-collapse" id="navbar-collapse">
                    {% block navbar_collapse_content %}
                        {% block navbar_left %}
                            <ul class="nav navbar-nav">
                                {% block navbar_left_content %}
                                {% endblock navbar_left_content %}
                            </ul>
                        {% endblock navbar_left %}
                        {% block navbar_form %}
                        {% endblock navbar_form %}
                        {% block navbar_right %}
                            <ul class="nav navbar-nav navbar-right">
                                {% block navbar_right_content %}
                                {% endblock navbar_right_content %}
                            </ul>
                        {% endblock navbar_right %}
                    {% endblock navbar_collapse_content %}
                </div>
            {% endblock navbar_collapse %}
        </div>
    </nav>
{% endblock body %}
