{% extends 'DdrDontdrinkandrootBundle::bootstrap.html.twig' %}
{% block body %}
    {{ parent() }}
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">{% block brand %}{% endblock brand %}</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    {% block navbar_left %}
                    {% endblock navbar_left %}
                </ul>
                {% block navbar_form %}
                {% endblock navbar_form %}
                <ul class="nav navbar-nav navbar-right">
                    {% block navbar_right %}
                    {% endblock navbar_right %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock body %}