{% extends 'DdrUtilsBundle::bootstrap.html.twig' %}
{% block body %}
    <div class="container">
        {% block entity_content %}
        {% endblock entity_content %}
    </div>
{% endblock body %}
