{% extends 'DdrUtilsBundle:Entity:base.html.twig' %}
{% block entity_content %}
    <div class="page-header">
        {% if entity is not null %}
            <h1>Edit {{ entity.id }}</h1>
        {% else %}
            <h1>Create</h1>
        {% endif %}
    </div>
    {{ form_start(form) }}
    {{ form_rest(form) }}
    <button type="submit" class="btn btn-primary">Save</button>
    {{ form_end(form) }}
{% endblock entity_content %}
